body {
    background: linear-gradient(to top, #2f4858, #999c68);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
section{
    height: 80%;
    width: 80%;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 20px;
}


#img-homero{
    border-radius: 5px;
    width: 30vw;
    max-width: 300px;
    height: 30vh;
    max-height: 300px;
}

img{
    width: 30vw;
    max-width: 300px;
    height: 30vh;
    max-height: 300px;
    border-radius:10px;
}

h1{
    font-size: 55px;
    color: #e4e3c5;
    text-shadow: 4px 4px 5px rgb(15, 15, 15);
}

p{
    font-size: 25px;
    color: #e4e3c5;
    text-shadow: 2px 2px 5px rgb(49, 53, 70);

}

#button-section{
    width: 60%;
    max-width: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.button-confirm{
    background-color: #acac9a;
    color: rgb(83, 78, 78);
    font-weight: bolder;
    font-size: 15px;
    width: 45%;
    height: 120%;
    padding: 15px;
    border-radius: 15px;
    border: none;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;

}

.button-confirm:hover{
    background-color: #4b89db;
    font-size: 15px;
    font-weight: bolder;
    color:white;
}

.button-refuse{
    background-color: #acac9a;
    color: rgb(83, 78, 78);
    font-weight: bolder;
    font-size: 15px;
    width: 45%;
    height: 120%;
    padding: 15px;
    border-radius: 15px;
    border:none;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;

}

.button-refuse:hover{
    background-color: #c25706;
    color: white;
    font-weight: bolder;
    font-size: 15px;
}

#button-refresh {
    background-color: #acac9a;
    color: rgb(83, 78, 78);
    font-weight: bolder;
    font-size: 15px;
    width: auto;
    padding: 15px;
    border-radius: 15px;
    border: none;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;

}

#button-refresh:hover{
    background-color: #4b89db;
    font-size: 15px;
    font-weight: bolder;
    color:white;
}


@media (max-width: 500px) {
    h1 {
        font-size: 25px;
    }
    h1 {
        font-size: 15px;
    }
}
